/**   -- Body -- Remove default margin, background   */

body {
 margin: 0;
 background-color: #e7ecef;
}

/**  --  Parte superior  --  **/
/** Avatar **/
.avatar {
border-radius: 30px 30px 30px 30px;
width: 110px;
height: 150px;
position: relative;
margin-left: auto;
margin-right: auto;
background-size: 140px;
background: center;
background-image: url("https://images.unsplash.com/profile-1638715155470-a27b0d1c515bimage?dpr=1&auto=format&fit=crop&w=150&h=150&q=60&crop=faces&bg=fff");
}

/**  --- Bienvenida -- **/
[hidden],
template {
  display: none;
}
.nombre {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-size: 35px;
}
.bienvenida {
  font-family: 'Libre Baskerville', serif;
  font-style: normal;
  font-size: 16px;
}

/* Forma de los botones
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button {
  display: inline-block;
  text-decoration: none;
  height: 48px;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 300px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.1px;
  white-space: wrap;
  border-radius: 30px;
  cursor: pointer;
 }

/* Estilo Botones (Color fondo)
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.icon {
  padding: 0px 8px 3.5px 0px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  fill: #0085FF;
}

.button.button-default {
  color: #FFFFFF;
  background-color: #607199; }
.button.button-default:hover,
.button.button-default:focus {
  filter: brightness(90%) }


  /* Instagram */
  #button-instagram {
    color: #FFFFFF;
    background-color: #304246 }
  .button.unplash:hover,
  .button.button:focus {
  filter: brightness(40%) }


  /* Unsplash */
  #button-unplash {
    color: #FFFFFF;
    background-color: #647974}
  .button.unplash:hover,
  .button.button:focus {
  filter: brightness(40%) }

  /* 500px */
  #button-500px {
    color: #FFFFFF;
    background-color: #cca4a5 }
  .button.unplash:hover,
  .button.button:focus {
  filter: brightness(40%) }

  /* Galeria */
  #button-galeria {
    color: #FFFFFF;
    background-color: #5f7078 }
  .button.unplash:hover,
  .button.button:focus {
  filter: brightness(40%) }

  /* Correo */
  #button-mail {
    color: #FFFFFF;
    background-color: #607199 }
  .button.unplash:hover,
  .button.button:focus {
  filter: brightness(40%) }

/* Email */
.button.button {
  color: #FFFFFF;
  background-color: #a45350 }
.button.button:hover,
.button.button:focus {
  filter: brightness(40%)
}
/** --  Final -- **/
