
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

html{

}

body{
  background-color:#e4eaf1;
  margin: auto;
  width: 920px;
  max-width: 100%;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}


a{
  text-decoration: none;
}

.titulo{
  margin-top: 5%;
}

.titulo h1 p {
  text-align: center;
}

.avatar {
  border-radius: 80px 80px 80px 80px;
  width: 150px;
  height: 150px;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  background-size: 150px;
  background-image: url("../images/avatar6.jpg");
  background-image: no-repeat;
  background-image: center;
  box-shadow: -3px -3px 9px rgba(255,255,255,0.45), 3px 3px 9px rgba(94,104,121,0.3);
}


.enlaces_seccion{
  margin: auto;
  width: 31.25rem;
  max-width: 31.25rem;
  padding-top: 2.5%;
  text-align: center;
  display: inline-grid;
}

.button-67 {
  margin: auto;
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 50px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button-67:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}

@media (min-width: 768px) {
  .button-67 {
    padding: 24px;
  }
}
